<div class="cor-teste2">
    <div class=" container" style="height: 40px;">
        <div class="row">
            <div class="col d-flex justify-content-center"
             style="margin-top: 8px;" 
             *ngFor="let item of listaCategoria">
                <a [routerLink]="['/produtos-categorias',item.id]" class=" text-light">{{item.categoria}}
                </a>
            </div>
            <!-- </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a [routerLink]="['/produtos-categorias',categoria.id]" class=" text-light">Vestuario</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Beleza</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Alimenticios</a> 
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Veganos</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Para o Lar</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Infantil</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Outros</a>
            </div> -->
        </div>
    </div>
</div>

<div class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade mt-5" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" height="700px"
                    src="https://i.imgur.com/G7ZOiKA.jpg"
                    alt="Carrosel produtos 1">
            </div>
            <!-- <div class="carousel-item">
                <img class="d-block w-100" height="720px"
                    src="https://media.discordapp.net/attachments/859062621465739284/859089988671111208/cute-cloud-smiling-face-seamless-pattern-vector-id1205189172.png?width=677&height=676"
                    alt="Segundo Slide">
            </div> -->
            <!-- <div class="carousel-item">
                <img class="d-block w-100" height="720px"
                    src="https://media.discordapp.net/attachments/859062621465739284/859089988671111208/cute-cloud-smiling-face-seamless-pattern-vector-id1205189172.png?width=677&height=676"
                    alt="Terceiro Slide">
            </div> -->
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a> -->
    </div>
</div>

<!-- <div class="container mt-2 d-flex justify-content-center">
    <img src="https://media.discordapp.net/attachments/844560082217074758/859126799384707122/lancamento_imac_bannerbusca_desk15x.png?width=1025&height=108"
        alt="">
</div> -->

<div class="container">
    <div class="d-flex justify-content-around m-3 row">
        <div class="card mt-5" style="width: 14rem;" *ngFor='let produto of listaProduto'>
            <!--Criei o <a> para conseguir colocar o redirecionamento quando a pessoa clicar, colocarem todo o card depois-->
            <a [routerLink]="['/ver-produto',produto.id]"><img width="100px" height="200px" class="card-img-top"
                    src="{{produto.midias}}" alt="Imagem de capa do card"></a>
            <div class="card-body">
                <p>{{produto.nomeProdutosServicos}}</p>
                <h4 class="card-text">R${{produto.preco}}</h4>
            </div>
        </div>
    </div>
</div>