.fs-16{
    font-size: 16pt;
}
.mt-76{
    margin-top: 76px;
}
.cor-bg{
    background-color: #e7966a;
}
.estica{
    min-width: 100vw;
}

.fa{
    color: #777777;
    font-size: 25pt;
}

.fa-linkedin-square:hover{
    color: #0e76a8;
}

.fa-github:hover{
    color: #000000;
}