.cor-bg{
    background-color:#bd5d3fe8;
}
.altura{
    height: 80px;
}
.laranja-bg{
    background-color: #FFE4CF;
}
.texto-marrom{
color: #814240;
}
.fs-16{
    font-size: 20pt;
}
.m-0{
    margin: 0px;
}
