<div class="cor-teste2"><!--Precisa ver e arrumar-->
    <div class=" container" style="height: 40px;">
        <div class="row">
            <div 
            class="col d-flex justify-content-center" 
            style="margin-top: 8px;"
            *ngFor="let item of listaCategoria">
                <a [routerLink]="['/produtos-categorias',item.id]" class=" text-light">{{item.categoria}}
                </a>
            </div>
            <!-- <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a [routerLink]="['/produtos-categorias',categoria.id]" class=" text-light">Vestuario</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Beleza</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Alimenticios</a> 
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Veganos</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Para o Lar</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Infantil</a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a href="" class=" text-light">Outros</a>
            </div> -->
        </div>
    </div>
</div>

<div>
    <h1>{{categoria.descricao}}</h1>
</div>
<div class="container">
    <div class="d-flex justify-content-around m-3 row mt-5">
        <div class="card mt-5" style="width: 14rem;" *ngFor='let produto of listaProduto'>
            <!--Criei o <a> para conseguir colocar o redirecionamento quando a pessoa clicar, colocarem todo o card depois-->
            <a routerLink='/ver-produto'><img width="100px" height="200px" class="card-img-top" src="{{produto.midias}}" alt="Imagem de capa do card"></a>
            <div class="card-body">
                <p>{{produto.nomeProdutosServicos}}</p>
                <h4 class="card-text">R${{produto.preco}}</h4>
            </div>
        </div>
    </div>
</div>